.head_s{
    margin-bottom:4px;
    margin-top: 4px;
    font-size: 14px;
}

.ul1{
    font-size: 12px;
}

.ul2{
    font-size: 11px;
}

.sub_s{
    margin-bottom:4px;
    margin-top: 6px;
    /* margin-left:15px; */
    font-size: 18px;
}

.word{
    margin-bottom:4px;
    margin-top: 4px;
    margin-left: 8px;
    font-size: 16px; 
}