
.subject{
    margin-bottom:6px;
    margin-top: 2px;
    font-size: 18px;

}

.des{
    margin-bottom:4px;
    margin-top: 4px;
    font-size: 14px;
}

.req{
    margin-bottom:6px;
    margin-top: 6px;
    font-size: 16px;
}

.req_title{
    font-weight: bold;
}

.key{
    margin-bottom:4px;
    font-size: 16px;
}

/* .sec{
    margin-bottom:4px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;

}

.secs{
    margin-bottom:4px;
    margin-top: 4px;
    margin-left: 15px;
    font-size: 12px;
}

.head_s{
    margin-bottom:4px;
    margin-top: 4px;
    font-size: 14px;
    
}

.ul0{
    margin-left: 0px;
}
.ul1{
    font-size: 12px;
}

.ul2{
    font-size: 11px;
}

.sub_s{
    margin-bottom:4px;
    margin-top: 6px;
    margin-left:30px;
    font-size: 13px;
    font-weight: bold;
}



.num_s{
    margin-bottom:4px;
    margin-top: 4px;
    margin-left: 25px;
    font-size: 12px;
}

.ul3{
    font-size: 11px;
    margin-left: 25px;
}

.ul4{
    font-size: 10px;
} */


.credit{
    margin-bottom:10px;
    margin-top: 10px;
    float: "left";
    margin-left: 95px;

}

.sel_sec{
    float: "right";
    margin-right: 85px; 
}

.sel_subsec{
    float: "right";
    margin-right: 65px; 
}